@font-face {
	font-family: 'Lora';
	src: url('lora-italic-variablefont_wght-webfont.woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Lora';
	src: url('lora-variablefont_wght-webfont.woff2');
	font-weight: normal;
	font-style: normal;
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	background-color:#444;
	/* border:aqua 1px dashed; */
	margin:0;
	padding: 0;	
}

.clickable {
	cursor: hand;
}

.rel { position: relative; }
.abs { position: absolute; }

.cont {
	display: grid;
					/*  title 	info-area 			divider		open-area              */
	grid-template-rows: 8em   	minmax(16em, 28em)	2px		minmax(8em, 20em);
	/* padding: 5px; */
	background-color: #ccc;
	/* background-color:#fff; */
	color:#000;
	height:100%;
	max-width: 800px;
	margin: 0 auto;
}

.title {
	font: 4em "Lora";
	background-color: #022;
    box-shadow: 0 2px 3px 1px #222;
	color: #fff;
	padding: 0.3em 0.5em 0em;
    z-index: 10;
	transition: font  .2s ease;
}

@media (max-width: 380px) {
	.title {
		font: 3.5em "Lora";
	}
}

#code-checkbox:not(:checked) ~ .code-window {
    display: none;
}
.code-window {
    display: absolute;
	margin:0;
    box-shadow: 2px 3px 5px 2px #222, 1px 1px 16px 0px #444;
}
.code-input {
	font: 0.7em "Lora";
    width: 12ex;
    min-width: 14ex;
	margin: 0;
	border: 4px dashed #e44;
	background-color: #000;
	color: #ddd;
}
.code-input:hover {
	border: 4px solid #e44;
}
.code-input:focus {
	border: 4px solid #e44;
	background-color: #111;
	color: #eee;
}
.code-input::placeholder {
	color: #222;
}

.checkbox-area {
	position: absolute;
	bottom: 0.1em;
	right: 0.1em;
	/* text-align: center; */
}

.settings-button {
	font: 0.4em/0.4em monospace;
	position: static;
	display: inline-block;
	border: dotted 2px #444;
	padding:0.5em;
	margin:0.2em;
	color: #444;
	text-align: center;
}

/* .settings-button:hover {
	background-color:#111;
} */
.settings-checkbox {
	display: none;
}
.settings-checkbox:checked + .settings-button {
	background-color: #133;
	/* background-color:#222; */
	color:#777;
}
.hidden {
	display: none;
}

@keyframes progress-frames {
	0% {left:20%;}
	100% {left:70%;}
}
#info-progress {
	display:none;
	position:absolute;
	background-color:#444;
	bottom:5px;
	width:10%;
	height:10px;

	animation-name: progress-frames;
	animation-duration: 1s;
	animation-direction:alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


.info-area {
	background-color: #ccc;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	justify-content: end;
	/* font: italic 2.5em serif; */
}
#info-icon {
	/* background-color: yellow; */
	/* display: block; */
	margin:0.5em 0.2em 0em;
	text-align:center;
	/* right: 0; */
}
#info-icon-img {
	/* object-fit: contain; */
	/* background-color: yellow; */
	height: 80%;
	max-height: 16em;
	/* margin:0.5em 0.2em 0em; */
	/* text-align:center; */
	/* right: 0; */
}
#info-text {
	/* background-color: #666; */
	/* background-color: cyan; */
	font: italic 1.5em serif;
	text-align:center;
	display: block;
	margin: 0.4em;
}

.divider {
	padding:0px;
	margin: 0px;
	/* background-color: cyan; */
	border:1px solid #222;
	width: 70%;
	margin: 0 auto;
}


.open-button-area {
	display: flex;
	/* background-color:#444; */
	/* border: 2px dotted; */
	padding:1em;
}
.open-button {
	background-color:#ddd;
	width:100%;
	margin: 0.2em 0.1em;
	padding: 0;
	border: 2px solid #bbb;
	display: flex;
	flex-direction: column;
  	justify-content: center;
	align-content: center;
}
.open-button-text {
	padding: 0;
	text-align:center;
	font:calc(13vh) sans-serif;
	margin: 0 auto;
}

.open-button-disabled {
	background-color:#ddd;
	color:#bbb;
	cursor: wait;
}
.open-button:active {
	background-color:#454522;
	color:#000;
}
.open-button:hover {
	background-color:#e2e2e2;
}
.open-button-disabled:hover {
	background-color:#ddd;
}
.log {
	background-color:#222;
	font-size:2vh;
	font-family:monospace;
}


@media (orientation: landscape) {
	.cont {
		grid-template-rows: 6em   minmax(5em, 20em)	2px		minmax(8em, 30em);
	}
	.title {
		padding: 0.1em 0.5em 0em;
	}
	.info-area {
		/* background-color: #666; */
		/* background-color: red; */
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	#info-icon {
		/* background-color: yellow; */
		display: inline-block;
		/* height: 100%; */
		/* margin:1.2em 0.2em 0em; */
		/* margin:0.1em 0.1em 0em; */
		/* text-align:center; */
		/* vertical-align: middle; */
	}
	#info-icon-img {
		/* object-fit: contain; */
		/* background-color: blue; */
		/* height: 10%; */
		max-height: 20em;
		/* vertical-align: middle; */

		/* margin:10px auto; */
	}
	#info-text {
		/* background-color: white; */
		display: inline-block;
		margin: auto 0;
	}
}
